<h1>Sample App</h1>
<p>Welcome to Sample app for Management of Shipping containers. With this app, you can:</p>
<ul>
  <li>Add a new products to existing containers</li>
  <li>Remove products from container</li>
</ul>
<p>Add a Product then go to Manage Container to View/Remove them</p>

<h2>Setup</h2>
<p>
  Project developed with Sample.sln in VS2022. In VS, set Sample WebAPI project as startup and run. This will start building both the C# backend API host <b>https://localhost:7298/</b> and the Angular `ClientApp`.
  The API host will redirect to ClientApp eventually at <b>https://localhost:44422/</b>
</p>

<h2>Frontend:</h2>
<p>
  The app was build with the dotnet template for angular for a quick start, and therefore uses bootstrap styles. The app was build to try out Angular Material design.
</p>

<h2>Backend:</h2>
<p>
  ASP.NET6.0 API.
</p>
