<h1 id="tableLabel">Containers in Sample App</h1>

<p>View and update containers and packaged products</p>

<p *ngIf="!containers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="containers">
  <thead>
    <tr>
      <th>Container Code</th>
      <th>Container Name</th>
      <th>Packaged Products</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let container of containers">
      <td>{{ container.containerCode }}</td>
      <td>{{ container.name }}</td>
      <td>
          <mat-chip-list>
          <span *ngFor="let product of container.products">
            <mat-chip (removed)="removeProduct(container, product)">
              {{product.name}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
           </span>
          </mat-chip-list>
      </td>
      <td>
        <button mat-fab color="warn" aria-label="Example icon button with a home icon" (click)="save(container)">
          <mat-icon>save</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
